<!DOCTYPE html>
<html>
<head>
  <title>The Elbow List</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="/master.css" rel="stylesheet">
</head>
<body>

<div class="main">
  <!-- <img class="elbow mb2" src="/_img/elbow.png"/>
  <h1><span class="blue">The Elbow List</span> is a place to celebrate every dine-in restaurant in Seattle fighting to stay open.</h1>
  <div class="divider mt3"></div> -->
  <div class="mt3 mb3">
    <a href="/">See all restaurants</a>
  </div>
  <h1 class="display1 mb3 mt3"><%= restaurant.fields.name %></h1>
        <div class="restaurantSection">
          <!-- INSTAGRAM -->
          <% if (restaurant.fields.instagram) { %>
            <div class="mb2">
              <a
                target="_blank"
                href="http://instagram.com/<%= restaurant.fields.instagram %>"
              >
                @<%= restaurant.fields.instagram %>
              </a>
            </div>
          <% } %>
          <!-- WEBSITE -->
          <% if (restaurant.fields.website) { %>
            <div class="mb2">
              <a
                target="_blank"
                href="<%= restaurant.fields.website %>"
              >
                <%= restaurant.fields.website %>
              </a>
            </div>
          <% } %>
          <!-- ADDRESS -->
          <% if (restaurant.fields.address) { %>
            <div class="mb2">
              <a
                target="_blank"
                href="https://www.google.com/maps/search/?api=1&query=<%= restaurant.fields.address %>"
              >
                <%= restaurant.fields.address %>
              </a>
            </div>
          <% } %>
          <!-- TAKEOUT -->
          <% if (restaurant.fields.hasTakeout) { %>
            <div class="restaurantSection mt2">
              <div class="mb1"><strong>Takeout</strong></div>
              <div class="mb2 takeoutSummary"><%= restaurant.fields.takeoutSummary %></div>
              <% if (restaurant.fields.takeoutMethod === "Phone") { %>
                <a class="buttonBig buttonCall mb3" href="tel:<%= restaurant.fields.phoneNumber %>">
                  Call
                </a>
              <% } %>
            </div>
          <% } %>
          <!-- DELIVERY -->
          <% if (restaurant.fields.hasDelivery) { %>
            <div class="restaurantSection mt2">
              <div class="mb1"><strong>Delivery</strong></div>
              <div class="mb2 takeoutSummary"><%= restaurant.fields.deliverySummary %></div>
              <% if (restaurant.fields.deliveryMethod === "Phone") { %>
                <a class="buttonBig buttonCall" href="tel:<%= restaurant.fields.phoneNumber %>">
                  Call
                </a>
              <% } %>
              <% if (restaurant.fields.deliveryMethod === "Postmates") { %>
                <a class="buttonBig buttonPostmates mb3" href="https://www.google.com/search?q=postmates+app&oq=postmates+app&aqs=chrome..69i57.3113j0j7&sourceid=chrome&ie=UTF-8">
                  Order on Postmates
                </a>
              <% } %>
            </div>
          <% } else {%>
            <div class="restaurantSection mt2">
              <div class="mb1"><strong>Delivery</strong></div>
              <div class="mb2 takeoutSummary">Not available</div>
            </div>
          <% } %>
        </div>


</div>

</body>

