<!DOCTYPE html>
<html>
<head>
  <title>The Elbow List</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="/master.css" rel="stylesheet">
</head>
<body>

<div class="main">
  <!-- <img class="elbow mb2" src="/_img/elbow.png"/> -->
  <!-- <h1><span class="blue">The Elbow List</span> is a place to celebrate every dine-in restaurant in Seattle fighting to stay open.</h1>
  <div class="divider mt3"></div> -->
  <ul class="restaurantList">
    <% if (entry) { %>
      <li class="mt2 mb2">
        <div class="restaurantDetails">
          <div class="restaurantNameBig mb1"><h1><%= entry.fields.name %></h1></div>
        </div>
        <div class="restaurantDetails">
          <!-- NAME -->

          <div class="mb1">1.2 miles away</div>
          <!-- CUISINE -->
          <div class="restaurantCuisine mb1">
            <% for(let j = 0; j < entry.fields.cuisine.length; j++) { %>
              <%= entry.fields.cuisine[j].fields.name %>
            <% } %>
          </div>
          <!-- SERVICE -->
          <% for(let k = 0; k < entry.fields.service.length; k++) { %>
            <div class="serviceLabel mb1">
              <span class="blue"><%= entry.fields.service[k].fields.name %></span>, until 4:00 PM
            </div>
          <% } %>
          <!-- ADDRESS -->
          <!-- <p>
            <a href="https://www.google.com/search?q=<%= entry.fields.address %>">
              <%= entry.fields.address %>
            </a>
          </p> -->
          <!-- PHONE -->
          <!-- <p>
            <a href="tel:<%= entry.fields.phoneNumber %>"><%= entry.fields.phoneNumber %></a>
          </p> -->
          <!-- <p><%= entry.fields.cuisine.length %></p> -->
        </div>
      </li>
    <% } %>
  </ul>

</div>

</body>

